---
import RedDivider from './RedDivider.astro'
---

<div>
    <h2 class="text-2xl sm:text-3xl text-[#FF0100] font-semibold">ABOUT</h2>
    <div class="mt-4 flex flex-col gap-2">
        <p class="text:base sm:text-xl font-semibold">
            Our mission is to help you get the most out of your benefits
        </p>
        <p class="text:base sm:text-xl font-semibold text-[#FF0100]">
            You can get an eye exam AND glasses, with NO out of pocket charges.
        </p>
    </div>
    <RedDivider />
    <div class="mt-4 flex flex-col gap-2">
        <p class="text-base sm:text-xl font-semibold">
            For many years, companies have been exploiting the hard-working laborers of Minnesota by
            charging outrageous amounts for eye exams, leaving no benefits left over for purchasing
            eyeglasses.
        </p>
    </div>
    <RedDivider />
    <div class="mt-4 flex flex-col gap-2">
        <p class="text-base sm:text-xl font-semibold">
            We simplify buying glasses for union members. Whether you need everyday eyewear, safety
            glasses, or sunglasses, we can help!
        </p>
    </div>
    <RedDivider />
    <div class="my-4 flex flex-col gap-2">
        <p class="text-base sm:text-xl font-semibold">
            We'll partner you with a union friendly eyeglass shop that can help you get the most out
            of your benefits with your best interest in mind.
        </p>
    </div>
</div>
