---
import RedDivider from './RedDivider.astro'
---

<div class="relative">
    <h2 class="text-2xl sm:text-3xl text-[#FF0100] font-semibold">BRANDS</h2>
    <RedDivider />

    <div class="flex flex-col gap-4">
        <div>
            <div class="mt-4 flex gap-4 align-middle">
                <div>
                    <figure
                        class="bg-white overflow-hidden h-24 w-24 rounded-full flex justify-center p-2"
                    >
                        <img
                            src="/WILEY_LOGO.webp"
                            alt="WILEYX brand logo"
                            class="object-contain h-full w-auto"
                        />
                    </figure>
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-xl sm:text-2xl text-[#FF0100] font-semibold">
                        <a
                            href="https://www.wileyx.com/"
                            class="text-xl sm:text-2xl text-[#FF0100] font-semibold underline"
                            target="_blank"
                            rel="noreferrer"
                        >
                        WILEYX SUNGLASSES AND SAFETY GLASSES
                        </a>
                    </p>
                    <p class="text-xs sm:text-base font-semibold">
                        Pioneers in protective eyewear.
                    </p>
                </div>
            </div>

            <div class="mt-4 flex gap-4 align-middle">
                <div>
                    <figure
                        class="bg-white overflow-hidden h-24 w-24 rounded-full flex justify-center px-2 pb-2"
                    >
                        <img
                            src="/OAKLEY_LOGO.webp"
                            alt="HU"
                            class="object-contain h-full w-auto"
                        />
                    </figure>
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-xl sm:text-2xl text-[#FF0100] font-semibold">
                        <a
                            href="https://www.oakley.com/en-us"
                            class="text-xl sm:text-2xl text-[#FF0100] font-semibold underline"
                            target="_blank"
                            rel="noreferrer"
                        >
                            OAKLEY
                        </a>
                    </p>
                    <p class="text-xs sm:text-base font-semibold">
                        Sunglasses, Goggles, and sport glasses. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
