---
import RedDivider from './RedDivider.astro'
---

<div class="relative lg:h-[75vh]">
    <h2 class="text-2xl sm:text-3xl text-[#FF0100] font-semibold">USEFUL CONTACTS</h2>
    <RedDivider />

    <div class="flex flex-col lg:justify-between h-full">
        <div>
            <div class="mt-4 flex gap-4 align-middle">
                <div>
                    <figure
                        class="bg-white overflow-hidden h-24 w-24 rounded-full flex justify-center p-2"
                    >
                        <img
                            src="/MN_LABORERS.webp"
                            alt="MN LABORERS LOGO"
                            class="object-contain h-full w-auto"
                        />
                    </figure>
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-xl sm:text-2xl text-[#FF0100] font-semibold">
                        Minnesota Laborers -
                        <a
                            href="https://www.mnlaborersfunds.org/"
                            class="text-xl sm:text-2xl text-[#FF0100] font-semibold underline"
                            target="_blank"
                            rel="noreferrer"
                        >
                            LINK
                        </a>
                    </p>
                    <p class="text-xs sm:text-base font-semibold">
                        Make sure to check the Minnesota Laborers website to confirm your union is a
                        member and that you are eligible to recieve assistance from the Union Vision
                        Alliance.
                    </p>
                </div>
            </div>

            <div class="mt-4 flex gap-4 align-middle">
                <div>
                    <figure
                        class="bg-white overflow-hidden h-24 w-24 rounded-full flex justify-center p-2"
                    >
                        <img
                            src="/TEAM_LOGO.webp"
                            alt="MN LABORERS LOGO"
                            class="object-contain h-full w-auto"
                        />
                    </figure>
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-xl sm:text-2xl text-[#FF0100] font-semibold">
                        TEAM Wellness at Work -
                        <a
                            href="https://www.startwithteam.com/"
                            class="text-xl sm:text-2xl text-[#FF0100] font-semibold underline"
                            target="_blank"
                            rel="noreferrer"
                        >
                            LINK
                        </a>
                    </p>
                    <p class="text-xs sm:text-base font-semibold">
                        Check the TEAM Wellness at Work website for all your benefits related
                        healthcare needs.
                    </p>
                </div>
            </div>

            <div class="mt-4 flex gap-4 align-middle">
                <div>
                    <figure
                        class="bg-white overflow-hidden h-24 w-24 rounded-full flex justify-center p-2"
                    >
                        <img
                            src="/HUXLEY_LOGO.webp"
                            alt="Huxley Logo"
                            class="object-contain h-full w-auto"
                        />
                    </figure>
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-xl sm:text-2xl text-[#FF0100] font-semibold">
                        HUXLEY - (651) 403-0533 -
                        <a
                            href="tel:(651)403-0533"
                            class="text-xl sm:text-2xl text-[#FF0100] font-semibold underline"
                            target="_blank"
                            rel="noreferrer"
                        >
                            LINK
                        </a>
                    </p>
                    <p class="text-xs sm:text-base font-semibold">
                        Our partner since the beginning, Huxley is an eyewear company that is based
                        in Roseville, MN. Any questions about the UVA can be directed to Ryan, the
                        founder of UVA and Co-founder of Huxley
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div>
                    <h3 class="text-xl font-semibold">OUR PARTNERS</h3>
                </div>
                <figure
                    class="bg-white overflow-hidden h-16 w-16 rounded-full flex justify-center p-2"
                >
                    <img
                        src="/HUXLEY_LOGO.webp"
                        alt="Huxley Logo"
                        class="object-contain h-full w-auto"
                    />
                </figure>
                <a
                    href="mailto:Ryan@huxleyoptical.com"
                    class="underline text-blue-400 text-base sm:text-xl"
                    >CLICK HERE TO BECOME A PARTNER</a
                >
            </div>
        </div>
    </div>
</div>
