---
import Logo from './Logo.astro'
---

<div>
    <Logo />
    <h1 class="text-3xl sm:text-4xl font-medium mt-4 [text-wrap:balance]">Helping Minnesota Laborers maximize their benefits since 2012</h1>

    <ul class="list-disc marker:text-[#FF0100] pl-6 mt-4 flex flex-col gap-4">
        <li class="text-2xl sm:text-3xl font-medium">NO OUT OF POCKET COSTS</li>
        <li class="text-2xl sm:text-3xl font-medium uppercase">Simple, Direct Billing through Wilson-Mcshane</li>
        <li class="text-2xl sm:text-3xl font-medium">WORKSITE APPROVED SAFETY AND SUNGLASSES</li>
        <li class="text-2xl sm:text-3xl font-medium">SIMPLY FILL OUT A FORM, WE WILL HANDLE THE REST</li>
    </ul>
</div>
